#navigator-toolbox {
  flex-direction: column-reverse;
}

#nav-bar {
  order: 1;
}

.titlebar-buttonbox-container {
  display: none;
}

#toolbar-menubar[autohide="true"] {
  min-height: auto !important;
}

:root:not([customizing]) {
  #PersonalToolbar {
    height: 0px;
  }

  #navigator-toolbox:not(:has(#PersonalToolbar[collapsed="false"]))
    #toolbar-menubar[autohide="true"][inactive]
    + #TabsToolbar {
    max-height: 0px;
  }
}
