
input {
    keyboard {
        repeat-delay 600
        repeat-rate 25
        xkb {
            // You can set rules, model, layout, variant and options.
            // For more information, see xkeyboard-config(7).
            layout "us,ru"
            options "grp:ctrl_space_toggle"
        }
    }
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // in the end. To find an XKB name for a particular key, you may use a program
    // like wev.
    //
    // "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
    // when running as a winit window.
    //
    // Most actions that you can bind here can also be invoked programmatically with
    // `niri msg action do-something`.
    // shows a list of important hotkeys.
    F1 { show-hotkey-overlay; }

    Mod+O repeat=false { toggle-overview; }

    Mod+W repeat=false { toggle-column-tabbed-display; }

    Mod+Q repeat=false { close-window; }

    Mod+Alt+O { toggle-window-rule-opacity; }

    Mod+Grave hotkey-overlay-title="Open terminal" {
         spawn "footclient";
    }
    Mod+T hotkey-overlay-title="Quick terminal" {
         spawn-sh "nscratch -s scratchterm --title scratchterm";
    }
    Mod+E hotkey-overlay-title="File manager" {
         spawn "thunar";
    }
    Ctrl+Alt+Mod+V hotkey-overlay-title="Cast focused window" {
         spawn-sh "niri msg action set-dynamic-cast-window --id $(niri msg --json focused-window | jq .id)";
    }

    // ================================================================================
    // Vicinae
    // ================================================================================

    Mod+Space hotkey-overlay-title="Open launcher" repeat=false {
         spawn "vicinae" "toggle";
    }

    Mod+B hotkey-overlay-title="Bluetooth menu" {
         spawn "vicinae" "vicinae://extensions/Gelei/bluetooth/devices" ;
    }

    Mod+V hotkey-overlay-title="Clipboard" {
         spawn "vicinae" "vicinae://extensions/vicinae/clipboard/history";
    }

    Mod+Ctrl+W hotkey-overlay-title="Switch windows" {
         spawn "vicinae" "vicinae://launch/wm/switch-windows";
    }

    // ================================================================================
    // Noctalia
    // ================================================================================

    Ctrl+Mod+1 hotkey-overlay-title="Show/hide control center" {
        spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle";
    }
    Ctrl+Mod+2 hotkey-overlay-title="Show/hide calendar" {
        spawn "noctalia-shell" "ipc" "call" "calendar" "toggle";
    }
    Ctrl+Mod+3 hotkey-overlay-title="Show/hide notifications history" {
        spawn "noctalia-shell" "ipc" "call" "notifications" "toggleHistory";
    }
    
    Ctrl+Mod+B hotkey-overlay-title="Show/hide topbar" {
        spawn "noctalia-shell" "ipc" "call" "bar" "toggle";
    }
    Ctrl+Mod+Q hotkey-overlay-title="Lock screen" {
        spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock";
    }

    // ================================================================================
    // Core window navigations
    // ================================================================================

    Mod+H      { focus-column-left;  };  Mod+Left       { focus-column-left;  }
    Mod+J      { focus-window-down;  };  Mod+Down       { focus-window-down;  }
    Mod+K      { focus-window-up;    };  Mod+Up         { focus-window-up;    }
    Mod+L      { focus-column-right; };  Mod+Right      { focus-column-right; }

    Mod+Ctrl+H { move-column-left;   };  Mod+Ctrl+Left  { move-column-left;   }
    Mod+Ctrl+J { move-window-down;   };  Mod+Ctrl+Down  { move-window-down;   }
    Mod+Ctrl+K { move-window-up;     };  Mod+Ctrl+Up    { move-window-up;     }
    Mod+Ctrl+L { move-column-right;  };  Mod+Ctrl+Right { move-column-right;  }

    Mod+Home      { focus-column-first; }
    Mod+End       { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+C            { center-column; }

    // ================================================================================
    // Floating windows interactions 
    // ================================================================================

    Mod+Alt+V   { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // ================================================================================
    // Window resizing 
    // ================================================================================

    Mod+R            { switch-preset-column-width; }
    Mod+Shift+R      { switch-preset-window-height; }
    Mod+Ctrl+R       { reset-window-height; }
    Mod+F            { maximize-column; }
    Mod+Shift+F      { maximize-window-to-edges; }
    Mod+Ctrl+Shift+F { fullscreen-window; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }


    // ================================================================================
    // Workspaces bindings
    // ================================================================================

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // I don't want to move workspaces
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }

    Mod+U      { focus-workspace-down; }
    Mod+I      { focus-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }


    // ================================================================================
    // Multi-monitor bindings (Standart)
    // ================================================================================

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // ================================================================================
    // Screenshots TODO: replace with grim + slurp
    // ================================================================================

    Mod+Shift+S { screenshot; }
    Ctrl+Print  { screenshot-screen; }
    Alt+Print   { screenshot-window; }

    // ================================================================================
    // DANGER ZONE
    // ================================================================================

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete { quit; }
    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Ctrl+Shift+Delete { power-off-monitors; }

    // ================================================================================
    // Touchpad and mouse
    // ================================================================================

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+" "--limit" "0.99"; }
    Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-" "--limit" "0.99"; }

    // ================================================================================
    // Function keys
    // ================================================================================

    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "0.99" "@DEFAULT_AUDIO_SINK@" "0.06+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.04-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "-d" "intel_backlight" "s" "+1000"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-d" "intel_backlight" "s" "1000-"; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switctoggle"; }
    // Mod+Shift+Space { switch-layout "prev"; }
}
